<ion-card tappable (click)="getDetails(poke.url)" #cardItem>
  <ion-card-content style="padding: 0px 10px !important;">
    <ion-grid style="padding: 0px !important;">
      <ion-row>
        <ion-col>
          <div class="poke-list-info">
            <span #nameId text-capitalize text-wrap>
              #{{poke.id}} - {{poke.name}}
            </span>
            <br>
            <ion-badge *ngFor="let type of poke.types" [color]="typeColor(type.type.name)" style="margin-right: 3px; padding: 1px 8px 3px; box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.2);">
              <span class="badge-type" text-uppercase>{{type.type.name}}</span>
            </ion-badge>
          </div>
        </ion-col>
        <ion-col col-4>
          <img #sprite src="{{poke.img}}" alt="">
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>