<ion-card>
    <ion-card-title margin-top>
      <ion-title text-capitalize text-center text-wrap>
        #{{pokeDetails.id}} {{pokeDetails.name}}
      </ion-title>
    </ion-card-title>
    <div ion-item text-center>
      <img src="{{pokeDetails.img}}" alt="{{pokeDetails.name}}.png" class="pokemon-sprite">
    </div>
    <ion-card-content>
      <div ion-item>
        <ion-icon name="paper" item-start></ion-icon>
      </div>
      <ion-slides margin-top style="display:flex !important; flex-wrap: nowrap;">
        <ion-slide *ngFor="let dex of pokeDetails.dex" class="swiper-slide {{gameVersionColor(dex.class)}}" padding>
          <h2 text-capitalize text-wrap>{{dex.game_version}}</h2>
          <hr>
          <p text-justify text-wrap>
            <span>{{dex.description}}</span>
          </p>
        </ion-slide>
      </ion-slides>
      <ion-item-divider margin-bottom></ion-item-divider>
      <ion-list>
        <div ion-item>
          <ion-icon name="clipboard" item-start></ion-icon>
          <span text-capitalize text-wrap>{{pokeDetails.name}}</span>
        </div>
        <div ion-item>
          <ion-icon name="resize" item-start></ion-icon>
          <span>{{formatHeightWeight(pokeDetails.height)}} m</span>
        </div>
        <div ion-item>
          <ion-icon name="pint" item-start></ion-icon>
          <span>{{formatHeightWeight(pokeDetails.weight)}} Kg</span>
        </div>
        <div ion-item>
          <ion-icon name="pricetags" item-start></ion-icon>
          <ion-badge *ngFor="let type of pokeDetails.types" [color]="typeColor(type.type.name)" style="margin-right: 5px;">
            {{type.type.name}}
          </ion-badge>
        </div>
      </ion-list>
      <ion-item-divider margin-bottom></ion-item-divider>
      <div ion-item>
        <ion-icon name="stats" item-start></ion-icon>
      </div>
      <ion-grid>
        <ion-row *ngFor="let statItem of pokeDetails.stats">
          <ion-col col-5>
            <div text-right>
              <small text-capitalize>{{statItem.stat.name.replace('-', ' ')}}</small>
            </div>
          </ion-col>
          <ion-col col-5>
            <progress value="{{statItem.base_stat}}" [class]="statColor(statItem.stat.name)" max="150"></progress>
          </ion-col>
          <ion-col col-2>
            <div text-right>
              <small>{{statItem.base_stat}}</small>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

