<ion-grid id="mainDetails">
  <ion-row>
    <ion-col>
      <h4 text-wrap text-capitalize text-center>
        #{{pokeDetails.id}} - {{pokeDetails.name}}
      </h4>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col text-center>
      <img #pokeImgRef src="{{pokeDetails.img}}" alt="{{pokeDetails.name}}.png" class="pokemon-sprite">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-segment [(ngModel)]="pokeModule" #infoSegment>
        <ion-segment-button value="info" id="segment-button-info">
          <ion-icon name="information-circle"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="moves" id="segment-button-moves">
          <ion-icon name="star"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="more" id="segment-button-more">
          <ion-icon name="more"></ion-icon>
        </ion-segment-button>
      </ion-segment>
    </ion-col>
  </ion-row>
  <div [ngSwitch]="pokeModule">
    <div *ngSwitchCase="'info'">
      <ion-row>
        <ion-col>
          <div text-uppercase padding-left margin-top>
            Description
          </div>
          <hr>
          <ion-slides margin-top style="height:auto !important;">
            <ion-slide *ngFor="let dex of pokeDetails.dex" class="swiper-slide {{gameVersionColor(dex.class)}}" padding>
              <small float-left text-left>
                <ion-icon name="arrow-back"></ion-icon>
              </small>
              <small text-uppercase text-wrap text-center>
                {{dex.game_version}}
              </small>
              <small float-right text-right>
                <ion-icon name="arrow-forward"></ion-icon>
              </small>
              <hr>
              <small>
                <p text-left text-wrap>
                  {{dex.description}}
                </p>
              </small>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div text-uppercase padding-left margin-top>
            Info
          </div>
          <hr>
          <ion-row>
            <ion-col text-center text-wrap text-capitalize col-6>
              <span style="font-size:small">{{pokeDetails.genus}}</span>
            </ion-col>
            <ion-col text-center col-6>
              <div class="poke-info">
                <ion-badge *ngFor="let type of pokeDetails.types" [color]="typeColor(type.type.name)" style="margin-right: 5px;">
                  <span text-uppercase>{{type.type.name}}</span>
                </ion-badge>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col text-center text-wrap col-6>
              <span>{{formatHeightWeight(pokeDetails.height)}} m</span>
              <br>
              <small style="color:grey;">Height</small>
            </ion-col>
            <ion-col text-center text-wrap col-6>
              <span>{{formatHeightWeight(pokeDetails.weight)}} Kg</span>
              <br>
              <small style="color:grey;">Weight</small>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div text-uppercase padding-left margin-top>
            Abilities
          </div>
          <hr>
          <div class="abilities-info" text-center>
            <button ion-button text-capitalize *ngFor="let abilities of pokeDetails.abilities" style="margin-right: 5px;" color="dark"
              (tap)="showAbiltyDetails(abilities)">
              <span *ngIf="abilities.is_hidden">
                <ion-icon name="flash"></ion-icon>
                &nbsp;
              </span>
              {{abilities.ability.name.replace('-', ' ')}}
            </button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div text-uppercase padding-left margin-top>
            Stats
          </div>
          <hr>
          <ion-grid>
            <ion-row *ngFor="let statItem of pokeDetails.stats">
              <ion-col col-5>
                <div text-right>
                  <small text-capitalize>{{statItem.stat.name.replace('-', ' ')}}</small>
                </div>
              </ion-col>
              <ion-col col-5>
                <progress value="{{statItem.base_stat}}" [class]="statColor(statItem.stat.name)" max="150"></progress>
              </ion-col>
              <ion-col col-2>
                <div text-right>
                  <small>{{statItem.base_stat}}</small>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col text-center text-uppercase margin-top padding-bottom>
                <span>Total: {{getTotalStats(pokeDetails.stats)}}</span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </div>
    <div *ngSwitchCase="'moves'">
      <ion-fab right bottom style="z-index: 9999; position: fixed; bottom: 15px; right: 25px;">
        <button ion-fab>
          <ion-icon name="funnel"></ion-icon>
        </button>
        <ion-fab-list side="top">
          <button ion-fab color="sunny">
            <ion-icon name="disc"></ion-icon>
            <div class="label">Machine</div>
          </button>
          <button ion-fab color="mountain">
            <ion-icon name="arrow-up"></ion-icon>
            <div class="label">Level Up</div>
          </button>
          <button ion-fab color="river">
            <ion-icon name="color-wand"></ion-icon>
            <div class="label">Tutor</div>
          </button>
        </ion-fab-list>
      </ion-fab>
      <ion-row>
        <ion-col>
          <div text-uppercase margin-top padding-left>
            Move list
          </div>
        </ion-col>
      </ion-row>
      <hr>
      <br>
      <ion-row>
        <ion-col>
          <ion-list>
            <button ion-item *ngFor="let item of pokeDetails.moves" style="background:transparent;" (tap)="showMove(item)">
              <span text-capitalize>{{item.move.name.replace('-', ' ')}}</span>
              <span *ngFor="let learn of formatUniqueLearnMethod(item)">
                <ion-badge float-right [color]="learnMethodColor(learn.move_learn_method.name)" style="margin-right: 3px;">
                  <span text-center text-uppercase style="font-size: 9px;">
                    {{learn.move_learn_method.name.replace('-', ' ')}}
                  </span>
                </ion-badge>
              </span>
            </button>
          </ion-list>
        </ion-col>
      </ion-row>
    </div>
    <div *ngSwitchCase="'more'">
      more...
    </div>
  </div>
</ion-grid>