/* slider style */

.swiper-slide {
  display: block !important;
}

.swiper-wrapper {
  height: initial !important;
}

/* pokemon sprite image */

.pokemon-sprite {
  width: 130px;
  margin: auto;
}

/* info */

.poke-info {
  font-size: 1em;
}

.poke-info > ion-badge {
  font-size: 0.8em !important;
  vertical-align: text-top !important;
}

/* progress stats */

progress {
  -webkit-appearance: inherit;
  box-sizing: border-box;
  display: inline-block;
  height: 5px;
  width: 100%;
  vertical-align: middle;
}

progress::-webkit-progress-inner-element {
  -webkit-appearance: inherit;
  box-sizing: inherit;
  height: 100%;
  width: 100%;
}

progress::-webkit-progress-bar {
  background-color: transparent;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

progress.stat-hp::-webkit-progress-value {
  background-color: forestgreen;
  border-radius: 10px;
}
progress.stat-attack::-webkit-progress-value {
  background-color: firebrick;
  border-radius: 10px;
}
progress.stat-defense::-webkit-progress-value {
  background-color: navy;
  border-radius: 10px;
}
progress.stat-special-attack::-webkit-progress-value {
  background-color: darkorange;
  border-radius: 10px;
}
progress.stat-special-defense::-webkit-progress-value {
  background-color: darkviolet;
  border-radius: 10px;
}
progress.stat-speed::-webkit-progress-value {
  background-color: deepskyblue;
  border-radius: 10px;
}

/* dex slides */

.version-alpha-sapphire {
  background: linear-gradient(to right bottom, #3171d1 50%, #0853c4 50%);
}
.version-alpha-sapphire small{
  color: rgb(255, 255, 255);
}

.version-omega-ruby {
  background: linear-gradient(to right bottom, rgb(207, 55, 45) 50%, rgb(187, 24, 12) 50%);
}
.version-omega-ruby small{
  color: rgb(252, 252, 252);
}

.version-x {
  background: linear-gradient(to right bottom, #647bce 50%, #536ac0 50%);
}
.version-x small{
  color: rgb(245, 245, 245);
}

.version-y {
  background: linear-gradient(to right bottom, #ec615d 50%, #e04f4a 50%);
}
.version-y small{
  color: rgb(247, 247, 247);
}

.version-white {
  background: linear-gradient(to right bottom, #fff 50%, #cecece 50%);
}
.version-white small{
  color: #222;
}

.version-black {
  background: linear-gradient(to right bottom, #292929 50%, rgb(17, 17, 17) 50%);
}
.version-black small{
  color: gainsboro;
}

.version-white-2 {
  background: linear-gradient(to right bottom, #ededed 50%, #d3d3d3 50%);
}
.version-white-2 small{
  color: #222;
}

.version-black-2 {
  background: linear-gradient(to right bottom, #464646 50%, #2e2e2e 50%);
}
.version-black-2 small{
  color: rgb(252, 255, 242);
}

.version-soulsilver {
  background: linear-gradient(to right bottom, #d8d8ff 50%, #c3c3e7 50%);
}
.version-soulsilver small{
  color: #000;
}

.version-heartgold {
  background: linear-gradient(to right bottom, #9e9519 50%, #867f10 50%);
}
.version-heartgold small{
  color: #fff;
}

.version-platinum {
  background: linear-gradient(to right bottom, #7e7979 50%, #695b5b 50%);
}
.version-platinum small{
  color: azure;
}

.version-pearl {
  background: linear-gradient(to right bottom, #ffc0c0 50%, #fcaaaa 50%);
}
.version-pearl small{
  color: rgb(27, 27, 41);
}

.version-diamond {
  background: linear-gradient(to right bottom, rgb(139, 174, 221) 50%, rgb(108, 148, 201) 50%);
}
.version-diamond small{
  color: rgb(27, 27, 41);
}

.version-xd {
  background: linear-gradient(to right bottom, #8e4eb3 50%, #78359e 50%);
}
.version-xd small{
  color: lightcyan;
}

.version-colloseum {
  background: linear-gradient(to right bottom, #84abd8 50%, #6b94c4 50%);
}
.version-colloseum small{
  color: rgb(33, 33, 68);
}

.version-leafgreen {
  background: linear-gradient(to right bottom, #37d137 50%, #17be17 50%);
}
.version-leafgreen small{
  color: rgb(19, 22, 18);
}

.version-firered {
  background: linear-gradient(to right bottom, #fc4b15 50%, #fa2803 50%);
}
.version-firered small{
  color: cornsilk;
}

.version-emerald {
  background: linear-gradient(to right bottom, #376637 50%, #254e25 50%);
}
.version-emerald small{
  color: rgb(250, 247, 220);
}

.version-sapphire {
  background: linear-gradient(to right bottom, #0c0cc0 50%, #040488 50%);
}
.version-sapphire small{
  color: lightcyan;
}

.version-ruby {
  background: linear-gradient(to right bottom, #ac1e1e 50%, #910202 50%);
}
.version-ruby small{
  color: oldlace;
}

.version-crystal {
  background: linear-gradient(to right bottom, #56faec 50%, #05f0dc 50%);
}
.version-crystal small{
  color: #0b2229;
}

.version-silver {
  background: linear-gradient(to right bottom, #e7e7e7 50%, #bebebe 50%);
}
.version-silver small{
  color: #2b2b2b;
}

.version-gold {
  background: linear-gradient(to right bottom, #f1b828 50%, #e49c00 50%);
}
.version-gold small{
  color: #1f1b10;
}

.version-yellow {
  background: linear-gradient(to right bottom, #fff460 50%, #f0e000 50%);
}
.version-yellow small{
  color: #1b1b19;
}

.version-blue {
  background: linear-gradient(to right bottom, #4763ff 50%, #1d3fff 50%);
}
.version-blue small{
  color: #ffffff;
}

.version-red {
  background: linear-gradient(to right bottom, #ff3232 50%, #fc1515 50%);
}
.version-red small{
  color: #ffffff;
}

.version-sun {
  background: linear-gradient(to right bottom, #ffbb28 50%, #f3741f 50%);
}
.version-sun small{
  color: #fff9f9;
}

.version-moon {
  background: linear-gradient(to right bottom, rgb(105, 47, 214) 50%, #360388 50%);
}
.version-moon small{
  color: #fff9f9;
}

/* variables*/

$colors: (
  primary:        #488aff,
  secondary:      #32db64,
  danger:         #f53d3d,
  light:          #f4f4f4,
  dark:           #222,

  // pokemon color type
  type-normal:    #A8A77A,
  type-fire:      #EE8130,
  type-water:     #6390F0,
  type-electric:  #F7D02C,
  type-grass:     #7AC74C,
  type-ice:       #96D9D6,
  type-fighting:  #C22E28,
  type-poison:    #A33EA1,
  type-ground:    #E2BF65,
  type-flying:    #A98FF3,
  type-psychic:   #F95587,
  type-bug:       #A6B91A,
  type-rock:      #B6A136,
  type-ghost:     #735797,
  type-dragon:    #6F35FC,
  type-dark:      #705746,
  type-steel:     #B7B7CE,
  type-fairy:     #D685AD,
);
