.list-body {
  background: #dff2ff
}

.list-body ion-card {
  box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.151), 0 3px 1px -2px rgba(150, 150, 150, 0.2), 0 1px 5px 0 rgba(200, 200, 200, 0.12) !important;
  border-radius: 3px !important;
}
