<ion-header>
  <ion-navbar id="navDetails">
    <ion-title>Details</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="details-content">
  <ion-spinner #spinner name="crescent" style="
    margin:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
    position:fixed;
  "></ion-spinner>

  <div *ngIf="httpError" color="danger" style="
    margin: auto;
    /* top: 0px; */
    bottom: 50%;
    left: 0;
    right: 0;
    position: fixed;
    text-align: center;
    color: darkred;
  ">
    <span text-wrap text-uppercase>
      <ion-icon name="warning"></ion-icon> &nbsp;&nbsp; {{mainErrorMessage}}
    </span>
    <br>
    <span text-wrap>
      <small>{{httpErrorMessage}}</small>
    </span>
    <br>
    <button id="refreshButton" full ion-button color="primary" (tap)="refreshPage()">
      <ion-icon name="refresh"></ion-icon> &nbsp;&nbsp; Try Again
    </button>
  </div>

  <poke-details *ngIf="pageLoaded" [pokeDetails]="pokeDetails"></poke-details>
</ion-content>